title{
            color: blue
}
h1 {
            color: blue;
            border: 10cm;
            text-align: center;
            text-shadow: 3cm;
            text-decoration: blue;
}

h2{
            text-align: center;
            color:red;
}

h3 {
            padding: 0px;
            margin: 0%;
            font-family: cursive;
}

ol{
            border: 10cm;
            border-bottom-color: blue;
}

p{
            padding: 0%;
            margin: 0%;
            color: #000;
}

img{
            background: rgb(19, 179, 207);
            size: 150px;
            image-resolution: 50px;
            border-image-repeat: repeat;
            padding: 2%;
            margin: 2%;
}
html{
            background: rgb(19, 19, 48)
}