h1 {
        color: white;
        border: 10cm;
        text-align: center;
        text-shadow: 3cm;
        text-decoration: blue;
        
}

h2{
        text-align: center;
        color:blue;
        font-family: 'Times New Roman', Times, serif;
}

h3 {
        text-align: center;
        font-family: cursive;
}

ul{
        border: 10cm;
        border-color: blue;
        padding: 0px;
        margin: 0px;
}

p{
        padding: 0%;
        margin: 0%;
        color: #000;
}

img{
        text-align: center;
        height: 80px;
        width: 80px;
        size: 150px;
        border-image-repeat: repeat;
        padding: 5px;
        margin: 5px;
        background: whitesmoke;
        background-size: 10px;
}

html{
        background:rgba(80, 201, 164, 0.76);
}

h4{
        color: blue;
        text-align: center;
        text-decoration-color: blue;
        font-family: 'Times New Roman', Times, serif;
        font-size: 100%;
}

.text2{
        color:white;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        margin: 9px;
        padding: 9px;
}